
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Whisper&display=swap');
body{
  font-family: 'Jost', sans-serif;
}
/* .text-goggle{
    font-family: 'Merriweather', serif;
    font-family: 'Whisper', cursive;
}
.text-goggle1{
  font-family: 'Red Hat Display', sans-serif;
  
}
.text-goggle2{
    font-family: 'Outfit', sans-serif;
}

.text-goggle3{
    font-family: 'Noto Sans', sans-serif;
} */

.herocontent {
    background-image: url('https://static.vecteezy.com/system/resources/previews/026/604/317/large_2x/summer-vanilla-perfume-background-with-copy-space-bright-pink-vanilla-perfume-banner-for-summer-ai-generative-free-photo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat, repeat;
    height: 650px;
    max-width: 100%;
}

.carousel-container {
  /* width: 100%; */
  overflow: hidden;
  position: relative;
}

.carousel-track-bottom {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Efek perpindahan slide*/
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Efek perpindahan slide*/
}

.carousel-slide {
  flex: 0 0 16.6667%; /* Menampilkan 5 gambar sekaligus, jika ingin 6 ubah menjadi 16.6667% */
  /* box-sizing: border-box; */
}

.carousel-slide-top {
  flex: 0 0 30.3333333%; /* Menampilkan 5 gambar sekaligus, jika ingin 6 ubah menjadi 16.6667% */
  /* box-sizing: border-box; */
}

.carousel-slide img {
  /* width: 100%; */
  /* height: auto; */
}

.image-background2 {
  background-image: url('https://picsum.photos/600/298');
  background-size: cover; /* Mengatur gambar agar menutupi seluruh area background */
  background-position: center; /* Mengatur posisi gambar ke tengah */
  width: 100%; /* Mengisi seluruh lebar dari parent (w-3/5) */
  height: 420px; /* Menyesuaikan tinggi gambar */
}